<%- include('partials/header') %>
    <div class="button-container">
        <a href="/buscar" class="btn">Buscar Baralho</a>
        <a href="/incluir" class="btn">Incluir Baralho</a>
        <a href="/atualizar" class="btn">Atualizar Baralho</a>
    </div>
<%- include('partials/footer') %>